@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/FontAwesome.otf');
}

.fa {
	-fx-font-family: 'FontAwesome';
}

.flat-btn {
	-fx-background-color: 0;
	-fx-border-radius: 0;
}

.flat-btn:hover {
	-fx-background-color: #ccc;
}

.flat-btn:pressed {
	-fx-background-color: #aaa;
}

.sm-font-size {
	-fx-font-size: 9px;
}

.no-padding {
	-fx-padding: 0;
}