@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/FontAwesome.otf');
}

.fa {
	-fx-font-family: 'FontAwesome';
}

.flat-btn {
	-fx-background-color: #00000000;
	-fx-border-radius: 0;
}

.flat-btn:hover {
	-fx-background-color: #ccc;
}

.flat-btn:pressed {
	-fx-background-color: #aaa;
}

.sm-font-size {
	-fx-font-size: 9px;
}

.no-padding {
	-fx-padding: 0;
}

.drag-below-line {
	-fx-border-style: solid;
	-fx-border-color: #B35719;
	-fx-border-width: 0 0 2 0;
}

.drag-above-line {
	-fx-border-style: solid;
	-fx-border-color: #B35719;
	-fx-border-width: 2 0 0 0;
}

.drag-inside {
	-fx-border-style: solid;
	-fx-border-color: #B35719;
	-fx-border-width: 2;
}

.large-font-size {
	-fx-font-size: 48px;
}

.black-font {
	-fx-text-fill: #000000;
}